<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="centered">
    <div class="main-container">
        <h2>Editar Usuario</h2>
        <form method="POST">
            <label>Usuario:</label>
            <input type="text" name="username" value="{{ usuario.username }}" required>
            <label>Nombre:</label>
            <input type="text" name="nombre" value="{{ usuario.nombre }}" required>
            <label>Email:</label>
            <input type="email" name="email" value="{{ usuario.email }}" required>
            <label for="fecha_alta">Fecha de alta:</label>
            <input type="date" name="fecha_alta" value="{{ usuario.fecha_alta }}" max="{{ fecha_actual }}">
            <label>Rol:</label>
            <select name="rol">
                <option value="admin" {% if usuario.rol == 'admin' %}selected{% endif %}>Admin</option>
                <option value="manager" {% if usuario.rol == 'manager' %}selected{% endif %}>Manager</option>
                <option value="user" {% if usuario.rol == 'user' %}selected{% endif %}>User</option>
            </select>
            <input type="submit" value="Guardar Cambios" class="btn">
        </form>
    </div>
</body>
</html>