<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
<title>Iniciar Sesión</title>

</head>
<body>
    <p class="main-p">Madrid InmoMap</p>
    <div class="main-container">
        <h2>Credenciales incorrectas</h2>
        
        <p>¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
