<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Log-in</title>
</head>
<body>
  <div class="main-container">
    <h2>Login</h2>
    <form method="post" action="{{ url_for('login') }}">
      Usuario: <input type="text" name="username" required><br>
      Contraseña: <input type="password" name="password" required><br>
      <input type="submit" value="Iniciar sesión">
    </form>
    <a href="{{ url_for('register') }}">Registrarse</a>
  </div>
</body>
</html>


