<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Log-in</title>
</head>
<body>
  <div class="main-container">
    <h2>Iniciar sesión</h2>
    <form class="form-default" method="post" action="{{ url_for('login') }}">
      Usuario: <input class="form-input" type="text" name="username" required><br>
      Contraseña: <input class="form-input" type="password" name="password" required><br>
      <div class="container-horizontal">
        <input class="btn" type="submit" value="Iniciar sesión">
        <a class="btn" href="{{ url_for('register') }}">Registrarse</a>
      </div>
    </form>
  </div>
</body>
</html>


