<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
<title>Registro</title>

</head>
<body>
    <div class="main-container">
        <h2>Para Registrarse</h2>
        <form method="post">
            <label for="username">Usuario:</label>
            <input id="username" name="username" required="" type="text"/>

            <label for="nombre">Nombre:</label>
            <input name="nombre" required="" type="text"/>

            <label for="mail">Correo electronico:</label>
            <input name="mail" required="" type="email"/>

            <label for="password">Contraseña:</label>
            <input id="password" name="password" required="" type="password"/>

            <input type="submit" value="Registrar"/>
        </form>
        <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
