<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>
  <div class="main-container">
    <h2>Registro</h2>
    <form class="form-default" method="post">
      Usuario: <input class="form-input" type="text" name="username" required><br>
      Nombre: <input class="form-input" type="text" name="nombre" required><br>
      Correo electronico: <input class="form-input" type="text" name="mail" required><br>
      Contraseña: <input class="form-input" type="password" name="password" required><br>
      <input class="btn" type="submit" value="Registrar">
    </form>
  </div>
    
</body>
</html>


<!--Rol:
      <select name="rol">
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="user">Usuario</option>
      </select><br> -->